<h1>certlint</h1>
<%= form_for :lint do |f| %>
  <p>
    <%= f.label "Test Website (https URL):" %>
    <%= f.url_field :host %>
  </p>

  <p>
    <%= f.label "Root certificate (PEM file):" %>
    <%= f.file_field :root %>
  </p>

  <p>
    <%= submit_tag 'run certlint' %>
  </p>
<% end %>
