<%= render "index" %>
<br>
<% @errors.each do |error| %>
<p><%= error %></p>
<% end %>
<% if @host %>
<p><%= "Using certificate chain from '" + @host + "'" %></p>
<% end %>
<% if @root %>
<p><%= "Using certificate from local file '" + @root.original_filename + "'" %></p>
<% end %>
<div class="overflow">
<div class="float">
<ul class="top">
<% @chain.each do |subjectDN, categories| %>
  <li><%= subjectDN %>
  <ul>
  <% categories.each do |category, messages| %>
    <li class=<%= category %>><%= category %>
    <ul>
    <% messages.each do |message| %>
      <span><li class=<%= category %>><%= message %></li></span>
    <% end %>
    </ul>
    </li>
  <% end %>
  </ul>
  </li>
  <br>
<% end %>
</ul>
</div>
</div>
<%= render "footer" %>
